proxmox_url          = "https://<PROXMOX_IP>:8006"
proxmox_token        = "<USER>@pve!<TOKEN_NAME>=<TOKEN_SECRET>"
proxmox_ssh_password = "<SSH_PASSWORD>"
storage_name         = "local-lvm"
vm_password          = "<VM_PASSWORD>"
vm_ssh_public_key    = "ssh-ed25519 AAAA... your_email@example.com"
